torch 
torchtext 
pytorch-nlp 
einops 
local_attention 
mogrifier 
deepspeed 
mpi4py 
memory-profiler 
wandb 
mmcv
pytorch-fast-transformers
inputimeout
# sudo apt install libopenmpi-dev
# sudo apt install libaio-dev